{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
<h1>Home Ma Couille !</h1>
</div>

<div>
<ol id="messages"></ol>
</div>

<div class="container">
    <form action="">
        <fieldset>
        <legend>Envoyer un message</legend>
        <input type="text" id="dataText">
        <br>
        <small>Envoyer vers mercure hub...</small>
        </fieldset>
        <button id="submitBtn" class="btn btn-success" type="submit">Envoyer</button>
    </form>
</div>

{% block javascript %}
<script>


// set the event source
const link = 'https://mercure.simschab.cloud/.well-known/mercure';
const url = new URL(link);
url.searchParams.append('topic', 'montopic');
const eventSource = new EventSource(url);

// listen for messages
eventSource.onmessage = e => {
    console.log(e.data);
    // do something with the data
    const li = document.createElement('li');
    li.textContent = e.data;
    document.getElementById('messages').appendChild(li);
};

const sbmtbtn = document.getElementById('submitBtn');
const dataText = document.getElementById('dataText');
const TOKEN = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOlsiKiJdLCJzdWJzY3JpYmUiOlsiKiJdfX0.nINXJPMGL7u4vvquYYm3zgMosrqrxTSooTs7R_OJLZA'

const data = {
    topic: 'montopic',
    mesage: dataText.value
}

sbmtbtn.addEventListener('click', (e) => {
    e.preventDefault();
    console.log(dataText.value);
    fetch('https://mercure.simschab.cloud/.well-known/mercure', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'Authorization': 'Bearer ' + `${TOKEN}` // inclure le cookie d'authentification dans l'en-tête Authorization
        },
        body: `data=${encodeURIComponent(JSON.stringify(dataText.value))}&topic=${encodeURIComponent(data.topic)}` // envoyer le message et le topic pour le publier sur le hub et le diffuser aux abonnés
    })
    .then(response => response.text())
    .then(data => {
        console.log(data);
    })
    .catch(error => console.log(error));
});


</script>

{% endblock %}

{% endblock %}
