.username {
  color: #049409;
  float: right;
}

* {
  box-sizing: border-box;
}

nav {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  border: 1px solid;
}
nav ul {
  display: flex; flex-direction: row; padding: 0; margin: 0; list-style: none;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none !important;
}

aside {
  float: right;
  border: 1px solid;
  width: 20%;
  padding: 10px;
}

input {
  margin: 10px 0 15px 0!important;
  max-width: 100%;
}

.main {
    width: 80%;
    max-width: 100%;
    border: 1px solid;
    padding: 10px;
}